<form action="" method="POST" class="form">
  <div class="form-container">
    <div class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255); transform: msfilter">
      <path
        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
      ></path>
    </svg>
  </div>
  <h3 style="color: black;">{{roomd.name}} Booking</h3>
  <div class="form1">
    <input type="text" name="name"class="input" autocomplete="off" required/>
    <label for="name" class="label-name">
    <span class="content-name">name</span>
    </label>
  </div>
    <div class="form1">
      <input type="email" name="email" class="input" autocomplete="off" required/>
      <label for="email" class="label-name">
      <span class="content-name">email</span>
      </label>
    </div>
    <div class="form1">
      <input type="text" name="phone" class="input" autocomplete="off" required/>
      <label for="phone" class="label-name">
      <span class="content-name">phone</span>
      </label>
    </div>
    <div class="form1">
      <input type="text" name="roomn" value="{{roomd.name}}" class="input" autocomplete="off"/>
      <label for="roomn" class="label-name">
      </label>
    </div>
    <div class="form1">
      <input type="number" name="rooms"class="input" autocomplete="off" required/>
      <label for="rooms" class="label-name">
      <span class="content-name">rooms</span>
      </label>
    </div>
    <div class="form1">
      <input type="number" name="adults"class="input" autocomplete="off" required/>
      <label for="adults" class="label-name">
      <span class="content-name">adults</span>
      </label>
    </div>
    <div class="form1">
      <input type="number" name="children"class="input" autocomplete="off" required/>
      <label for="children" class="label-name">
      <span class="content-name">children</span>
      </label>
    </div>
    <div class="form1">
      <input type="text" name="checkin" onfocus="(this.type='date')" onblur="if(!this.value) this.type='text'" class="input" autocomplete="off" required/>
      <label for="checkin" class="label-name">
      <span class="content-name">checkin</span>
      </label>
    </div>
    <div class="form1">
      <input type="text" name="checkout" onfocus="(this.type='date')" onblur="if(!this.value) this.type='text'" class="input" autocomplete="off" required/>
      <label for="checkout" class="label-name">
      <span class="content-name">checkout</span>
      </label>
    </div>
    {% csrf_token %}
    <div class="send">
      <a type="submit" href="" class="btn"> book </a>
    </div>
  </div>
</form>