{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/rolly.js@0.2.1/css/style.css"
    />
    <title>lodge</title>
  </head>
  <body>
    <main class="app">
      {% include 'messages.html' %}
      <header id="header">
        <nav>
          <div class="left-menu" id="nav-menu">
            <div class="nav-close" id="nav-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                viewBox="0 0 24 24"
                style="fill: rgba(0, 0, 0, 1); transform: msfilter"
              >
                <path
                  d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
                ></path>
              </svg>
            </div>
            <ul>
              <li><a href="index.html">home</a></li>
              <li><a href="lodge.html">the lodge</a></li>
              <li><a href="services.html">services</a></li>
              <div class="dismiss">
                <li><a href="camping.html">camping</a></li>
              <li><a  href="about.html">about</a></li>             
              <li><a class="book" href="room_list.html">book now</a></li>
              </div>
            </ul>
          </div>
          <div class="logo">
            <a href="index.html"><img src="static/images/HOA-Lodge.png" alt="" /></a>
          </div>
          <div class="right-menu" id="nav-menu">
            <ul>
              <li><a href="camping.html">camping</a></li>
              <li><a href="about.html">about</a></li>             
              <li><a class="book" href="room_list.html">book now</a></li>
            </ul>
          </div>

          
          <div class="nav-toggle" id="nav-toggle">
            <div class="nav-toggle" id="nav-toggle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                style="fill: rgba(0, 0, 0, 1); transform: msfilter"
              >
                <path d="M4 6h16v2H4zm4 5h12v2H8zm5 5h7v2h-7z"></path>
              </svg>
          </div>
        </nav>
      </header>

      <section id="home" class="banner" data-scene>
        <div class="container outer">
          <div class="text" data-ao="zoom-out">
            <h1>Welcome to </br>Heart of Africa Lodge </br><span>(Karibuni wote)</span></h1>
            <p>
              The wildebeest migration, is one of the “Seven New Wonders of the
              World” and also known as The World Cup of Wildlife. If there is a
              sight you have to experience, this is it!
            </p>
            <a class="btn" href="#lodge">learn more</a>
          </div>
        </div>
      </section>
      <section class="sec1" data-scene>
        <div class="container">
          <div class="sec1-inner">
            <div class="text text-left" data-ao="zoom-out-right">
              <h3>
                Heart of Africa Lodge is an exquisitely beautiful
                 escape offering guests a full-service vacation package. 
              </h3>
            </div>
            <div class="text text-right" data-ao="zoom-out-left">
              <p>
                We are located in Arusha, a short five-minute drive to the only road leading to Tanzania’s incredible national
                 parks in the Northern Safari Circuit.
                 We welcome you to Heart of Africa Lodge whether you are traveling alone,
                  as a couple, with friends, or as a whole family. 
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="lodge" class="sec2 left-right-sec" data-scene>
        <div class="container">
          <div class="sec2-inner">
            <div class="img">
              <div class="img" data-ao="zoom-out-up">
                <img src="static/images/3.jpg" alt="" />
              </div>
            </div>
            <div class="text" data-ao="zoom-out-left">
              <div class="text-inner">
                <h2>the lodges.</h2>
                <p>
                  We welcome you to Heart of Africa Lodge
                   whether you are traveling alone, as
                    a couple, with friends, or as a whole
                     family. We offer unique and affordably
                      priced single, double,
                       and triple/family occupancy rooms.
                        We invite you to experience the
                         unparalleled beauty of Tanzania 
                         and have an unforgettable adventure.
                </p>
                <a href="lodge.html" class="btn">explore</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="lodge" class="sec3 left-right-sec" data-scene>
        <div class="container">
          <div class="sec3-inner">
            <div class="text" data-ao="zoom-out-right">
              <div class="text-inner">
                <h2>camping.</h2>
                <p>
                  Our modern, newly built lodge is unique.
                 We also offer the budget-minded traveler the opportunity to camp on our property. </br>
                  We have a level, grassy area where you may set up your gear or rent from us.
                </p>
                <a href="camping.html" class="btn">explore</a>
              </div>
            </div>
            <div class="img">
              <div class="img" data-ao="zoom-out-up">
                <img src="static/images/30.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="map" id="contact">
        <h1 class="cont-txt">stay in touch</h1>
        <div class="contact-in">
          
          <div class="contact-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1078.8912998751964!2d36.54547980792745!3d-3.3816495942750646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x553f0eb2b17214f!2zM8KwMjInNTIuNyJTIDM2wrAzMic0Mi40IkU!5e0!3m2!1sen!2sca!4v1648288237471!5m2!1sen!2sca"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <div class="contact-form">
            <h1>contact us</h1>
            <form method="POST">
              <input name="name" type="text" placeholder="name" class="contact-form-txt" />
              <input name="email" type="text" placeholder="email" class="contact-form-txt" />
              <textarea name="subject" placeholder="message" class="contact-form-textarea"></textarea>
              {% csrf_token %}
              <input type="submit" placeholder="submit" class="contact-form-btn"/>
            </form>
          </div>
        </div>
      </section>


      <! ================================== SCROLL-UP ==================================================== >

    <a href="#" class="scrollup" id="scroll-up">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: rgba(255, 255, 255, 1); transform: msfilter"
      >
        <path
          d="m12 6.879-7.061 7.06 2.122 2.122L12 11.121l4.939 4.94 2.122-2.122z"
        ></path>
      </svg>
    </a>
    <! ================================== FOOTER ==================================================== >
    <section id="review" class="sec4" data-scene>
      <div >
        <h1 class="header">Hear what Our Customers Say</h1>
    </div>
      <div class="rcontainer">
        <div class="sec4-inner">
            <div class="rcard rcard-1">
                <i class="fa-solid fa-quote-left"></i>
                <p id="parreview">We felt as we were on paradise,as we enjoy whole stay hot welcoming , nice room , good food at the restaurant ,very helpful and all time smiling staff they are ready to help us every time.all in all the Lodge is close to every where you want to go, we recommend all our friends to stay there and we promise to come back again and stay there , it very safe and enjoy a lot</p>
                <p class="name">Suleman909 </p>
            </div>
            <div class="rcard rcard-2">
                <i class="fa-solid fa-quote-left"></i>
                <p id="parreview">We have been in many lodges but Heart of Africa lodge is really a beautiful lodge! The food is so delicious, rooms are so clean, the place is so cooland the staff are so friendly!I recommend people to go there.</p>
                <p class="name">naftal z </p>
            </div>
            <div class="rcard rcard-3 ">
                <i class="fa-solid fa-quote-left"></i>
                <p id="parreview">UNPARALLELED SERVICE! Beautiful! Loved it here and would stay again!!!!
                  My child and I were here in late April 2022, and had a fantastic time! #1: THE SERVICE! The service from the staff was UNPARALLELED. They helped make this trip one of the best overseas trips I've ever been on. 
                  While I took care of booking the international flights to/from Tanzania (from the SF Bay Area of CA, USA), the staff took care of: * Booking/arranging for all of the in-country travel.</p>
                <p class="name">Leslie Z </p>
            </div>
        </div>
      </div>
    </section>
      <footer data-scene>
       <div class="container">
          <div class="footer-inner" data-ao="zoom-out">
            <div class="col logo-f">
              <img src="static/images/HOA-Lodge.png" alt="" />
            </div>
            <div class="col">
              <ul>
                <li><h3>links</h3></li>
                <li><a href="lodge.html">the lodge</a></li>
                <li><a href="services.html">services</a></li>
                <li><a href="about.html">about</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><h3>email</h3></li>
                <li>info@heartofafricalodge.com</li>
                <li>Plot no. 175, Off Ryan Road towards<br>Engorora<br>Kisongo, Arusha<br>Tanzania</li>
                <li>+255 687 505 522<br>+1503 544 3608</li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><h3>follow us</h3></li>
                <li><a href="https://www.instagram.com/heartofafricalodge/?igshid=YmMyMTA2M2Y=">instagram</a></li>
                <li><a href="https://www.tripadvisor.com/Hotel_Review-g297913-d23982546-Reviews-Heart_Of_Africa_Lodge-Arusha_Arusha_Region.html">tripadvisor</a></li>
                <li><a href="https://www.booking.com/hotel/tz/heart-of-africa-lodge-arusha.html?aid=304142&label=gen173nr-1DCAEoggI46AdIM1gEaLICiAEBmAExuAEXyAEM2AED6AEB-AECiAIBqAIDuALdvJ6UBsACAdICJDhiMTZiYjFmLTcxNzktNGM0Ny1hZTRkLTA3MjFlMDAzY2YyNtgCBOACAQ&sid=4bf77aa46801a8871dcde74df63222a0&dest_id=8384029;dest_type=hotel;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1653055108;srpvid=40d06241afa90263;type=total;ucfs=1&#hotelTmpl">booking.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <div class="copyright" data-scene>
        <div
          class="container"
          data-ao="zoom-out"
          data-ao-offset="0"
          data-ao-delay="500"
        >
          <p>&#169; 2022 heart of africa lodge</p>
        </div>
      </div>
    </main>
    <script src="{% static 'js/app.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.min.js"></script> -->
    <script src="https://unpkg.com/rolly.js@0.2.1/dist/rolly.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
      // const r = rolly({
      //   view: document.querySelector(".app"),
      //   native: true,
      //   // other options
      // });
      // r.init();

      AOS.init({
        duration: 1500,
      });
    </script>
  </body>
</html>
