{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/rolly.js@0.2.1/css/style.css"
    />
    <title>lodge</title>
  </head>
  <body>
    <main class="app">
      <header id="header">
        <nav>
          <div class="left-menu" id="nav-menu">
            <div class="nav-close" id="nav-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                viewBox="0 0 24 24"
                style="fill: rgba(0, 0, 0, 1); transform: msfilter"
              >
                <path
                  d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
                ></path>
              </svg>
            </div>
            <ul>
              <li><a href="index.html">home</a></li>
              <li><a href="lodge.html">the lodge</a></li>
              <li><a href="services.html">services</a></li>
              <div class="dismiss">
                <li><a href="camping.html">camping</a></li>
              <li><a  href="about.html">about</a></li>             
              <li><a class="book" href="room_list.html">book now</a></li>
              </div>
            </ul>
          </div>
          <div class="logo">
            <a href="index.html"><img src="static/images/HOA-Lodge.png" alt="" /></a>
          </div>
          <div class="right-menu" id="nav-menu">
            <ul>
              <li><a href="camping.html">camping</a></li>
              <li><a href="about.html">about</a></li>             
              <li><a class="book" href="room_list.html">book now</a></li>
            </ul>
          </div>

          
          <div class="nav-toggle" id="nav-toggle">
            <div class="nav-toggle" id="nav-toggle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                style="fill: rgba(0, 0, 0, 1); transform: msfilter"
              >
                <path d="M4 6h16v2H4zm4 5h12v2H8zm5 5h7v2h-7z"></path>
              </svg>
          </div>
        </nav>
      </header>

      <section class="lodge-banner" data-scene>
        <div class="lodge-container outer">
          <div class="text lodge-txt" data-ao="zoom-out">
            <h1>the </br>lodge</h1>
            
          </div>
        </div>
      </section>

      <section>
        <div class="wrapper">
          <div class="left">
            <div class="imgbx">
            </div>
          </div>
          <div class="right">
            <div class="facs" data-ao="fade-left">
              <h1>our rooms</h1>
              <p>
                We offer single rooms, double rooms, triple rooms, and family rooms. Our rooms include: 
              </p>
              <div class="facs-icons">
                <div class="facilities">
                  <div class="icons">
                    <img src="static/images/icons/icons8-bed-80.png" alt="">
                  </div>
                  <div class="facs-txt">
                    <h4>king-size bed</h3>
                  </div>
                </div>
                <div class="facilities">
                  <div class="icons">
                    <img src="static/images/icons/icons8-bathtub-80.png" alt="">
                  </div>
                  <div class="facs-txt">
                    <h4>full ensuite bathroom with a sink</h3>
                  </div>
                </div>
                <div class="facilities">
                  <div class="icons">
                    <img src="static/images/icons/icons8-toilet-80.png" alt="">
                  </div>
                  <div class="facs-txt">
                    <h4>mordern toilets</h3>
                  </div>
                </div>
                <div class="facilities">
                  <div class="icons">
                    <img src="static/images/icons/icons8-vacuum-cleaner-80.png" alt="">
                  </div>
                  <div class="facs-txt">
                    <h4>daily housekeeping service</h3>
                  </div>
                </div>
                <div class="facilities">
                  <div class="icons">
                    <img src="static/images/icons/icons8-wi-fi-80.png" alt="">
                  </div>
                  <div class="facs-txt">
                    <h4>free Wi-Fi access </h3>
                  </div>
                </div>
                
                <div class="facilities">
                  <div class="icons">
                    <img src="static/images/icons/icons8-mosquito-net-50.png" alt="">
                  </div>
                  <div class="facs-txt">
                    <h4>mosquito nets protection</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="wrapper">
          <div class="left-standard">
            <div class="imgbx">
            </div>
          </div>
          <div class="right">
            <div class="facs" data-ao="fade-right" >
              <h1>standard double</h1>
              <p>
                standard double rooms prices are:
                <br>
                <br>
                <h2>single occupancy: <span>45 USD</span></h2>
                <br>
                <br>
                <br>
                <h2>double occupancy: <span>75 USD</span></h2>
              </p>

              <a class="btn" href="room_list.html">book now</a>
              
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="wrapper">
          <div class="left-deluxe">
            <div class="imgbx">
            </div>
          </div>
          <div class="right">
            <div class="facs" data-ao="fade-left" >
              <h1>Deluxe Double</h1>
              <p>
                Deluxe Double rooms prices are:
                <br>
                <br>
                <h2>single occupancy: <span>55 USD</span></h2>
                <br>
                <br>
                <br>
                <h2>double occupancy: <span>85 USD</span></h2>
              </p>

              <a class="btn" href="room_list.html">book now</a>  
              
            </div>
          </div>
        </div>
      </section>


      <section>
        <div class="wrapper">
          <div class="left-family">
            <div class="imgbx">
            </div>
          </div>
          <div class="right">
            <div class="facs" data-ao="fade-right" >
              <h1>Family/Quad</h1>
              <p>
                Family/Quad rooms prices are:
                <br>
                <br>
                <h2>3-4 occupancy: <span>110 USD</span></h2>
                <br>
                <br>
                <br>
                <h2>if 3 people: <span>90 USD</span></h2>
              </p>

              <a class="btn" href="room_list.html">book now</a>
              
            </div>
          </div>
        </div>
      </section>

      <! ================================== SCROLL-UP ==================================================== >

    <a href="#" class="scrollup" id="scroll-up">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: rgba(255, 255, 255, 1); transform: msfilter"
      >
        <path
          d="m12 6.879-7.061 7.06 2.122 2.122L12 11.121l4.939 4.94 2.122-2.122z"
        ></path>
      </svg>
    </a>


    <! ================================== FOOTER ==================================================== >
      
      <footer data-scene>
        <div class="container">
          <div class="footer-inner" data-ao="zoom-out">
            <div class="col logo-f">
              <img src="static/images/HOA-Lodge.png" alt="" />
            </div>
            <div class="col">
              <ul>
                <li><h3>links</h3></li>
                <li><a href="lodge.html">the lodge</a></li>
                <li><a href="services.html">services</a></li>
                <li><a href="about.html">about</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><h3>email</h3></li>
                <li>info@heartofafricalodge.com</li>
                <li>Plot no. 175, Off Ryan Road towards<br>Engorora<br>Kisongo, Arusha<br>Tanzania</li>
                <li>+255 687 505 522<br>+1503 544 3608</li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><h3>follow us</h3></li>
                <li><a href="#">instagram</a></li>
                <li><a href="#">facebook</a></li>
                <li><a href="#">twitter</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <div class="copyright" data-scene>
        <div
          class="container"
          data-ao="zoom-out"
          data-ao-offset="0"
          data-ao-delay="500"
        >
          <p>&#169; 2022 heart of africa lodge</p>
        </div>
      </div>
    </main>
    <script src="{% static 'js/app.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.min.js"></script> -->
    <script src="https://unpkg.com/rolly.js@0.2.1/dist/rolly.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
      // const r = rolly({
      //   view: document.querySelector(".app"),
      //   native: true,
      //   // other options
      // });
      // r.init();
    

$(document).ready(function(){
  $(window).scroll(function(){
    $('.lodge-banner').css("opacity", 1 - $(window).
    scrollTop() / 700 )
  })
});

$(document).ready(function(){
  $(window).scroll(function(){
    $('.lodge-txt').css("opacity", 3 - $(window).
    scrollTop() / 200 )
  })
});

$(window).scroll(function () {
  var scroll = $(window).scrollTop();
  $(".lodge-banner").css({
    filter: "blur(" + scroll / 30 + "px)",
  });
});

      AOS.init({
        duration: 1500,
      });
    </script>
  </body>
</html>
