{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
    <link rel="stylesheet" href="https://unpkg.com/rolly.js@0.2.1/css/style.css" />
    <title>lodge</title>
  </head>
  <body>
    <main class="app">
        <header id="header">
          <nav>
            <div class="left-menu">
              <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="lodge.html">the lodge</a></li>
                <li><a href="services.html">services</a></li>
              </ul>
            </div>
            <div class="logo">
              <a href="index.html"><img src="static/images/HOA-Lodge.png" alt="" /></a>
            </div>
            <div class="right-menu">
              <ul>
                <li><a href="camping.html">camping</a></li>
                <li><a href="about.html">about</a></li>
                
                <li><a class="book" href="#">book now</a></li>
              </ul>
            </div>
          </nav>
        </header>

        <section class="about-banner" data-scene>
            <div class="about-container outer">
              <div class="text about-txt" data-aos="zoom-out">
                <h1>Book Now</h1>
              </div>
            </div>
          </section>

        <section>
           <div class="box-area">
               <div class="single-box">
                   <div class="img-area"></div>
                   <div class="img-text">
                       <span class="header-text"><strong>Room List</strong></span>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequatur veniam totam corporis atque, 
                        fuga eligendi necessitatibus quibusdam officia animi.
                        </p>
                        <br>
                        <p><strong>Price: 45 $/per 1 night</strong></p>
                        <a class="btn" href="#">book now</a>
                            </div>
               </div>
               <div class="single-box">
                <div class="img-area"></div>
                <div class="img-text">
                    <span class="header-text"><strong>Deluxe List</strong></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequatur veniam totam corporis atque, 
                        fuga eligendi necessitatibus quibusdam officia animi.
                        </p>
                        <br>
                        <p><strong>Price: 45 $/per 1 night</strong></p>
                        <a class="btn" href="#">book now</a>
                        </div>
            </div>
            <div class="single-box">
                <div class="img-area"></div>
                <div class="img-text">
                    <span class="header-text"><strong>Family List</strong></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequatur veniam totam corporis atque, 
                        fuga eligendi necessitatibus quibusdam officia animi.
                        </p>
                        <br>
                        <p><strong>Price: 45 $/per 1 night</strong></p>
                        <a class="btn" href="#">book now</a>
                 </div>
            </div>
            <div class="single-box">
                <div class="img-area"></div>
                <div class="img-text">
                    <span class="header-text"><strong>Family List</strong></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequatur veniam totam corporis atque, 
                        fuga eligendi necessitatibus quibusdam officia animi.
                        </p>
                        <br>
                        <p><strong>Price: 45 $/per 1 night</strong></p>
                        <a class="btn" href="#">book now</a>
                 </div>
            </div>
            <div class="single-box">
                <div class="img-area"></div>
                <div class="img-text">
                    <span class="header-text"><strong>Family List</strong></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequatur veniam totam corporis atque, 
                        fuga eligendi necessitatibus quibusdam officia animi.
                        </p>
                        <br>
                        <p><strong>Price: 45 $/per 1 night</strong></p>
                        <a class="btn" href="#">book now</a>
                 </div>
            </div>
            <div class="single-box">
                <div class="img-area"></div>
                <div class="img-text">
                    <span class="header-text"><strong>Family List</strong></span>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          Consequatur veniam totam corporis atque, 
                          fuga eligendi necessitatibus quibusdam officia animi.
                          </p>
                          <br>
                          <p><strong>Price: 45 $/per 1 night</strong></p>
                          <a class="btn" href="#">book now</a>
                 </div>
            </div>
           </div>
        </section>
        <footer data-scene>
          <div class="container">
            <div class="footer-inner" data-aos="zoom-out">
              <div class="col logo-f">
                <img src="static/images/HOA-Lodge.png" alt="" />
              </div>
              <div class="col">
                <ul>
                  <li><h3>links</h3></li>
                  <li><a href="lodge.html">the lodge</a></li>
                  <li><a href="services.html">services</a></li>
                  <li><a href="about.html">about</a></li>
                </ul>
              </div>
              <div class="col">
                <ul>
                  <li><h3>email</h3></li>
                  <li><a href="#">heartofafrica@gmail.com</a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
              <div class="col">
                <ul>
                  <li><h3>follow us</h3></li>
                  <li><a href="#">instagram</a></li>
                  <li><a href="#">facebook</a></li>
                  <li><a href="#">twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
        <div class="copyright" data-scene>
          <div
            class="container"
            data-aos="zoom-out"
            data-aos-offset="0"
            data-aos-delay="500"
          >
            <p>&#169; 2022 heart of africa lodge</p>
          </div>
        </div>
          
    </main>
<script src="{% static 'js/app.js' %}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.min.js"></script> -->
<script src="https://unpkg.com/rolly.js@0.2.1/dist/rolly.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
  // const r = rolly({
  //   view: document.querySelector(".app"),
  //   native: true,
  //   // other options
  // });
  // r.init();


$(document).ready(function(){
$(window).scroll(function(){
$('.lodge-banner').css("opacity", 1 - $(window).
scrollTop() / 700 )
})
});

$(document).ready(function(){
$(window).scroll(function(){
$('.lodge-txt').css("opacity", 3 - $(window).
scrollTop() / 200 )
})
});

$(window).scroll(function () {
var scroll = $(window).scrollTop();
$(".lodge-banner").css({
filter: "blur(" + scroll / 30 + "px)",
});
});

  AOS.init({
    duration: 1500,
  });
</script>
</body>
</html>
